<% content_for :page_title, @post.title %>

<section class="section">
  <div class="container">
    <!-- Main container -->
    <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5 has-text-weight-bold">
            Actions
          </p>
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <p class="level-item">
          <%= link_to 'Edit', edit_post_path(@post), class: 'button' %>
        </p>
        <p class="level-item">
          <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
        </p>
      </div>
    </nav>
    <hr />
    <div class="content">
      <p><%= @post.content %></p>
    </div>
  </div>
</section>

<section class="section comments">
  <div class="container">
    <h2 class="subtitle is-5">
      <span class="has-text-weight-bold"><%= @post.comments.count %></span> Comments
    </h2>
    <%# I didn't understand the line below, need to understand what it does %>
    <%= render @post.comments %>
    <div class="comment-form">
      <hr />
      <h3 class="subtitle is-3">Leave a Reply</h3>
      <%= render 'comments/form' %>
    </div>
  </div>
</section>
